Import Python libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Importing Data

In [2]:
df1 = pd.read_csv('resale-flat-prices-based-on-approval-date-1990-1999.csv')
df2 = pd.read_csv('resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
df3 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
df4 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
df5 = pd.read_csv('resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')

df = pd.concat([df1,df2,df3,df4,df5])
df.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,9000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO
1,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,6000.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO
2,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,8000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO
3,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,6000.0,07 TO 09,ANG MO KIO AVE 1,ANG MO KIO
4,216,NEW GENERATION,3 ROOM,73.0,1976,1990-01,NaN,47200.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO

In [3]:
df.groupby(['town'])['resale_price'].mean()

town
ANG MO KIO         235250.249542
BEDOK              253920.735670
BISHAN             391334.333490
BUKIT BATOK        252807.534832
BUKIT MERAH        310558.492235
BUKIT PANJANG      300809.572137
BUKIT TIMAH        414493.776180
CENTRAL AREA       289895.599818
CHOA CHU KANG      320620.749200
CLEMENTI           255295.144079
GEYLANG            247433.172049
HOUGANG            290583.261059
JURONG EAST        261976.139516
JURONG WEST        271752.464557
KALLANG/WHAMPOA    284114.647241
LIM CHU KANG        63660.937500
MARINE PARADE      317198.164835
PASIR RIS          383389.788347
PUNGGOL            435644.625503
QUEENSTOWN         254328.019892
SEMBAWANG          349428.574961
SENGKANG           396973.121688
SERANGOON          304643.291661
TAMPINES           310656.772543
TOA PAYOH          274915.810160
WOODLANDS          287832.198252
YISHUN             245146.631065
Name: resale_price, dtype: float64

In [4]:
df.groupby(['flat_type'])['resale_price'].mean()

flat_type
1 ROOM               62160.273734
2 ROOM              123394.305666
3 ROOM              183974.268583
4 ROOM              292104.751138
5 ROOM              393678.015219
EXECUTIVE           478771.653479
MULTI GENERATION    453941.175627
MULTI-GENERATION    556889.079070
Name: resale_price, dtype: float64

In [5]:
df.groupby(['storey_range'])['resale_price'].mean()

storey_range
01 TO 03    2.706257e+05
01 TO 05    4.305680e+05
04 TO 06    2.754204e+05
06 TO 10    4.515410e+05
07 TO 09    2.779310e+05
10 TO 12    2.845763e+05
11 TO 15    4.705736e+05
13 TO 15    3.353769e+05
16 TO 18    3.827351e+05
16 TO 20    5.536002e+05
19 TO 21    4.078582e+05
21 TO 25    6.315790e+05
22 TO 24    4.508287e+05
25 TO 27    5.078180e+05
26 TO 30    6.847250e+05
28 TO 30    6.359409e+05
31 TO 33    7.801576e+05
31 TO 35    7.065000e+05
34 TO 36    7.985895e+05
36 TO 40    7.178411e+05
37 TO 39    8.142736e+05
40 TO 42    8.366095e+05
43 TO 45    1.005000e+06
46 TO 48    9.909118e+05
49 TO 51    9.982210e+05
Name: resale_price, dtype: float64

In [6]:
df.groupby(['remaining_lease'])['resale_price'].mean()

remaining_lease
48                    250000.000000
49                    294986.090909
50                    286397.101449
51                    311039.394737
52                    310562.353909
53                    311646.411111
54                    320520.140097
55                    359259.076685
56                    376027.972973
57                    403375.775176
58                    404995.659774
59                    387169.982669
60                    391845.447489
61                    389961.110635
62                    390288.765918
63                    378737.605566
64                    375587.064738
65                    378046.998102
66                    396984.216152
67                    400127.815832
68                    401634.826031
69                    406265.570569
70                    406713.991773
71                    418327.431080
72                    431406.241076
73                    433590.230248
74                    498086.520833
75                    513796.252412
76                    491011.601220
77                    485434.066787
                          ...
94 years 04 months    474248.322751
94 years 05 months    470339.231707
94 years 06 months    451748.911243
94 years 07 months    455307.466667
94 years 08 months    445725.623894
94 years 09 months    443250.486056
94 years 10 months    440754.381679
94 years 11 months    455494.731634
95 years              448510.927660
95 years 0 months     210000.000000
95 years 01 month     451765.859873
95 years 02 months    438514.356688
95 years 03 months    469815.080986
95 years 04 months    456200.429719
95 years 05 months    436300.534413
95 years 06 months    441823.064935
95 years 07 months    428068.119403
95 years 08 months    417618.894737
95 years 09 months    415593.548387
95 years 10 months    475843.914894
95 years 11 months    439367.040000
96 years              488000.000000
96 years 01 month     615777.600000
96 years 02 months    750808.000000
96 years 03 months    799000.000000
96 years 04 months    957666.666667
96 years 05 months    839000.000000
96 years 06 months    861000.000000
96 years 07 months    462500.000000
96 years 08 months    695000.000000
Name: resale_price, Length: 657, dtype: float64